<!-- IF U_DOWNLOAD_MY_DATA or U_DOWNLOAD_MY_POSTS -->
	<br class="clear">
	<h3>{L_DOWNLOAD_MY_DATA}</h3>
	<!-- IF U_DOWNLOAD_MY_DATA -->
	<p>
		{L_DOWNLOAD_MY_DATA_EXPLAIN}<br>
		<a href="{U_DOWNLOAD_MY_DATA}" class="button"><span>{L_DOWNLOAD_BTN}</span> <i class="icon fa fa-download fa-fw"></i> </a>
	</p>
	<!-- ENDIF -->
	<!-- IF U_DOWNLOAD_MY_POSTS -->
	<p>
		{L_DOWNLOAD_MY_POSTS_EXPLAIN}<br>
		<a href="{U_DOWNLOAD_MY_POSTS}" class="button"><span>{L_DOWNLOAD_BTN}</span> <i class="icon fa fa-download fa-fw"></i> </a>
	</p>
	<!-- ENDIF -->
<!-- ENDIF -->
<!-- EVENT tas2580_privacyprotection_ucp_buttons_after -->