<!-- IF U_DOWNLOAD_MY_DATA or U_DOWNLOAD_MY_POSTS -->
	<br class="clear">
	<h3>{L_DOWNLOAD_MY_DATA}</h3>
	<p>{L_DOWNLOAD_MY_DATA_EXPLAIN}</p>
	<!-- IF U_DOWNLOAD_MY_DATA -->
		<a href="{U_DOWNLOAD_MY_DATA}" class="button"><span>{L_DOWNLOAD_MY_DATA_BTN}</span> <i class="icon fa fa-download fa-fw"></i> </a>
	<!-- ENDIF -->
	<!-- IF U_DOWNLOAD_MY_POSTS -->
		<a href="{U_DOWNLOAD_MY_POSTS}" class="button"><span>{L_DOWNLOAD_MY_POSTS_BTN}</span> <i class="icon fa fa-download fa-fw"></i> </a>
	<!-- ENDIF -->
<!-- ENDIF -->
<!-- EVENT tas2580_privacyprotection_ucp_buttons_after -->