<dl>
	<dt><label for="massemail1">{L_ADMIN_EMAIL}{L_COLON}</label></dt>
	<dd>
		<label for="massemail1"><input type="radio" name="massemail" id="massemail1" value="1"<!-- IF S_MASS_EMAIL --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
		 <label for="massemail0"><input type="radio" name="massemail" id="massemail0" value="0"<!-- IF not S_MASS_EMAIL --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
	</dd>
</dl>
<dl>
	<dt><label for="privacy1"><a href="{U_PRIVACY}">{L_PRIVACY_ACCEPTED}{L_COLON}</a></label></dt>
	<dd>
		<label for="privacy1"><input type="radio" name="privacy" id="privacy1" value="1"<!-- IF S_PRIVACY --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
		 <label for="privacy0"><input type="radio" name="privacy" id="privacy0" value="0"<!-- IF not S_PRIVACY --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
	</dd>
</dl>